
hostname is   : {{ ansible_facts['fqdn'] }}
ip address is : {{ ansible_facts['default_ipv4']['address'] }}
memory is     : {{ ansible_facts['memtotal_mb'] }} mb

______________________________________
/ I have not failed, I've just found  \
| 10,000 ways that won't work. (Thomas |
\ Edison)                             /
--------------------------------------
     \  ^__^
      \ (oo)\_______
        (__)\       )\/\
            ||----w |
            ||     ||
